#content {
    padding: 5%;
}
#upload-button {
    all: unset;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
    height: 30px;
    border: 3px solid transparent;
    transition: 0.3s ease;
    margin: 10px;
}
#upload-button.enabled { background: deeppink; }
#upload-button.enabled:hover { border: 3px solid white; }
#upload-button.disabled { !important; background: gray; }
.form-input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: x-large;
    border: 2px solid deeppink;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    display: block;
}
.form-input::placeholder {
    color: gray;
    font-style: italic;
}
#text-input-container > label {
    font-size: x-large;
}
#image-input-container {
    margin-top: 20px;
    border: 2px solid deeppink;
    background: lightpink;
    border-radius: 10px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
#image-input-container.has-image  { aspect-ratio: unset; }
#image-input-container.has-upload { aspect-ratio: 1; }
#image-input { display: none; }
#image-input-label {
    border-radius: 5px;
    background-color: hotpink;
    padding: 10px;
    font-size: x-large;
    border: 3px solid transparent;
    transition: 0.3s ease;
    height: 30px;
}
#image-input-label:hover {
    border: 3px solid white;
}
img {
    width: 103%;
    height: auto;
}
#remove {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #000000AA;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-shadow: none;
    transition: 0.3s ease;
}
#remove:hover { background-color: black; }