#content {
    padding: 5%;
}
#image-input-container {
    width: 90%;
    margin: 5%;
    aspect-ratio: 1;
    border: 5px solid deeppink;
    border-radius: 50px;
    position: relative;
    display: grid;
    place-items: center;
}
img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
#upload-button {
    all: unset;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
    height: 30px;
    border: 3px solid transparent;
    transition: 0.3s ease;
    margin: 10px;
}
#upload-button.enabled { background: hotpink; }
#upload-button.enabled:hover { border: 3px solid white; }
#upload-button.disabled { !important; background: gray; }
.form-input {
    font-size: x-large;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    border: 2px solid deeppink;
    outline: none;
    box-shadow: none;
}
.form-input::placeholder {
    color: gray;
    font-style: italic;
}
#text-input-container > label { font-size: x-large; }
#image-input { display: none; }
#image-input-label {
    border-radius: 5px;
    background-color: hotpink;
    padding: 10px;
    font-size: x-large;
    border: 3px solid transparent;
    transition: 0.3s ease;
    height: 30px;
}
#image-input-label:hover {
    border: 3px solid white;
}

#remove {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    background-color: #000000AA;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-shadow: none;
    transition: 0.3s ease;
}
#remove:hover { background-color: black; }
