#outfit-container{
    display: inline-block;
    width: 40%;
    aspect-ratio: 0.75;
    border-radius: 20px;
    border: 2px solid deeppink;
    padding: 10px;
    margin: 3%;
    text-align: center;
    background: hotpink;
    box-sizing: border-box;

}
#outfit-container > img {
    width: 90%;
}
#outfit-name {
    margin: 0;
}
#tag-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
#outfit-tag {
    background: gray;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    width: min-content;
    text-align: center;
    justify-content: center;
}