#outfit-container{
    display: inline-block;
    width: 45%;
    aspect-ratio: 1;
    border-radius: 20px;
    border: 2px solid deeppink;
    padding: 10px;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
    background: hotpink;
    box-sizing: border-box;

}
img {
    max-width: 100%;
    max-height: 100%;
}
#outfit-img-container {
    margin-bottom: 10px;
    width: 100%;
    height: 65%;
    padding: 0;
    border: none;
    display: grid;
    place-items: center;
}
#outfit-name {
    margin: 0;
}
#outfit-description {
    display: block;
}
#tag-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
#outfit-tag {
    background: gray;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    width: min-content;
    text-align: center;
    justify-content: center;
}